<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<link rel="stylesheet" href="/styles/app.css">
		<meta charset="utf-8">
		<title>Dev Blog</title>
	</head>
	<body>
		<nav id="sideNav" class="nav">
			<section class="sideBarImg">
				<img class="navImg" src="/imgs/code-nav.svg" alt="">
			</section>
			<section class="sideBarBio">
				blah blah blah the name's jonah here's where some info about me is going to go blah blah blah blah blah
			</section>
			<section class="sideBarLinks">
				<ul>
					<li><a class="nav-link active" href="#">Blog</a></li>
					<li><a class="nav-link" href="#">About</a></li>
					<li><a class="nav-link" href="#">Contact</a></li>
					<li><a class="nav-link" href="#">Search</a></li>
				</ul>
			</section>
		</nav>
