<h1>Submit a new blog</h1>


<form action="/" method="POST">

  <div class="">
	   <input class="" type="text" name="post[title]" placeholder="title">
	</div>

	<div class="">
     <textarea name="post[text]" rows="8" cols="80"></textarea>
	</div>

  <div class="">
     <input class="" name="post[categories]" placeholder="category">
  </div>

	<div class="">
    <button class="button-main">Submit</button>
	</div>

</form>

<div class="testArea">
  <button class="button-main1">Retrieve Img</button>
</div>
